body{
	margin: 0;
}
header{
	background-color: #2C3742;
    height: 50px;
    width: 100%;
}
h1{
    color: #4c4f53;
    font-size: 24px;
    margin-left: 47px;
    font-family: "Open Sans";
}
p{
    font-family:Verdana,sans-serif,Helvetica;
	color:#332;
	font-size: 13px;
}
select{
    background: #fff;
    width: 150px;
    height: 30px;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
}
select:hover{
    border-width: 1px;
    border-color: #5D98CC;
    outline: none;
}
select:focus{
    outline: none;
}
ul{
    list-style: none;
}
footer{
	background-color: #2C3742;
    height: 50px;
    width: 100%;
    margin: 0	
}
textarea{
    font-family: "sans-serif";
    font-size: 10px;
    padding-top: 10px;
}
textarea::placeholder{
    font-size: 12px;
    font-family: "sans-serif";
}
/***********************************success toaster**************************************************/
.toaster {       
    background-color: rgb(29, 109, 29);
    opacity: 0.8;
    padding: 30px 85px;
    border-radius: 18px;
    color: white;
    right: 56px;
    top: 58px;
    position: fixed;
    display: none;
    z-index: 1;
}
#success-tick-mark{
 width: 23px;
    height: 10px;
    font-size: 66px;
    position: absolute;
    top: -4px;
    left: 23px;
}
/****************************classes and ids *************************************************/
#form-box{
    background: white;
    width: 100;
    height: 500px;
    margin-right: 12px;
    border-style: solid;
    border-width: thin;
    color: white;
    margin-top: 24px;
    margin-bottom: 20px;
    outline: none;
    position: relative;
    margin-left: 47px;
    color: lightgray    ;
    display: block;
}
.form-title{
    font-family: sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 15px;
}
#date{
	margin-left: 15px;
    
}

#project{
    margin-left: 234px;
    margin-top: -72px;
}
#emp-project{
    width: 300px;
}
#activity-type{
	margin-top: -72px;
    margin-left: 600px;
}
#time-spent{
	    margin-top: -72px;
    margin-left: 812px;
}
#hours{
    width: 80px;
}
#minutes{
    width: 80px;
}
.row-2{
	margin-left: 15px;
    margin-top: 60px;
}
#activity-descr{
	width: 500px;
	height: 100px;
    padding-left: 10px;
    border:solid 1px lightgray;
    color: #848282;
    font-size: 13px;
}
#activity-descr:hover{
    border:solid 1px #5D98CC;
}
#activity-descr:focus{
    outline: none;
    border:solid 1px #5D98CC;
}

#activity-descr::placeholder{
position: relative;
top:-35px;
}
.log-descr{
    color: #666;
}
.row-3{
    padding-top: 0;
    padding-left: 13px;
}
#empty-warning,#max-limit-warning,#min-limit-warning{
    color:#D56161;
    font-size: 11px;
    display: none;
    width: 16em;

}
#usage-notes
{
    width: 38em;
    margin-left: 550px;
    margin-top: -110px;
    color: #666;
}
.row-4{
    padding-top: 0;
}
#character-counter{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 30px;
    font-weight: bold;
}
.row-5{
    text-align: center;
    padding-top: 35px;  
}
#save-button{
    background: #3276b1;
    border-style: none;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    outline: none;
    margin-left: -100px;
}
#save-button:focus,#save-button:hover{
    outline: none;    
    background: #275b89;
}
.history-title{
	margin-top: 40px;

    font-family: sans-serif;
    margin-left: 47px;
}
#sort-log{
    float: right;
    margin-top: -40px;
    width: 100px;
    height: 30px;
    margin-right: 11px;
}
.log-row{
    background: white;
    height: 100px;
    margin-right: 12px;
    border-style: solid;
    border-width: thin;
    color: white;
    margin-top: 24px;
    margin-bottom: 20px;
    outline: none;
    position: relative;
    margin-left: 47px;
    color: grey;
    display: block;
    margin-left: 7px;
    border-color: lightgray;
}
.log-row-col-1{
	margin-left: 30px;
    font-family: Verdana,sans-serif,Helvetica;
    font-size: 12px;
    margin-top: 15px;
}
.log-row-col-2{
	margin-left: 300px;
	margin-top: -60px;
    color: #666;
}
.log-row-col-3{
    padding-left: 1078px;
	margin-top: -36px;
    font-family: Verdana,sans-serif,Helvetica;
    font-size: 12px;
}