body{
	margin: 0;
}
header{
	background-color: #2C3742;
    height: 50px;
    width: 100%;
}
h1{
    color: #4c4f53;
    font-size: 24px;
    margin-left: 47px;
    font-family: sans-serif;
}
p{
    font-family:Verdana,sans-serif,Helvetica;
	color:#332;
	font-size: 13px;
}
select{
    background: #fff;
    width: 150px;
    height: 30px;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
}
footer{
	background-color: #2C3742;
    height: 50px;
    width: 100%;
    margin: 0	
}
/****************************classes and ids *************************************************/
#form-box{
    background: white;
    width: 100;
    height: 500px;
    margin-right: 12px;
    border-style: solid;
    border-width: thin;
    color: white;
    margin-top: 24px;
    margin-bottom: 20px;
    outline: none;
    position: relative;
    margin-left: 47px;
    color: lightgray    ;
    display: block;
}
.form-title{
    font-family: sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 15px;
}
#date{
	margin-left: 15px;
    
}

#project{
    margin-left: 250px;
    margin-top: -72px;
}
#activity-type{
	margin-top: -72px;
    margin-left: 450px;
}
#time-spent{
	    margin-top: -72px;
    margin-left: 750px;
}
.row-2{
	margin-left: 15px;
    margin-top: 60px;
}
#activity-descr{
	width: 500px;
	height: 100px;
    padding-left: 10px;
}
#activity-descr::placeholder{
position: relative;
top:-35px;
}
#usage-notes
{
    width: 38em;
    margin-left: 550px;
    margin-top: -115px;
    color: #666;
}
#character-counter{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 30px;
}
#save-button{
    margin-left: 530px;
    margin-top: 120px;
    width: 84px;
    height: 30px;
    background: #275b89;
    border-style: none;
    border-radius: 3px;
    color: white;
}
.history-title{
	margin-top: 40px;

    font-family: sans-serif;
    margin-left: 43px;
}
#sort-log{
    float: right;
    margin-top: -40px;
    width: 100px;
    height: 30px;
    margin-right: 11px;
}
.log-row{
    background: white;
    height: 100px;
    margin-right: 12px;
    border-style: solid;
    border-width: thin;
    color: white;
    margin-top: 24px;
    margin-bottom: 20px;
    outline: none;
    position: relative;
    margin-left: 47px;
    color: grey;
    display: block;
    margin-left: 43px;
}
.log-row-col-1{
	margin-left: 30px;
}
.log-row-col-2{
	margin-left: 300px;
	margin-top: -60px;
}
.log-row-col-3{
	float: right;
	margin-top: -60px;
	margin-right: 30px;
}